<!doctype html>
<html>
<head>
	<title>Kiea File Uploader</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="/js/jquery.min.js"></script>
</head>
<body>
	<h2>Kiea File Uploader</h2>
	<input name="uploadFiles" type="file" multiple>
	<button id="uploadBtn">Upload</button>
	<div id="uploadResult"></div>
</body>
<script>
	$('#uploadBtn').click(function() {
		var formData = new FormData();
		var inputFile = $('input[type="file"]');
		var files = inputFile[0].files;
		for (var i=0; i < files.length; i++) {
			console.log(files[i]);
			formData.append("uploadFiles", files[i]);
		}
		
		// upload ajax
		$.ajax({
			url: '/uploadAjax',
			processData: false,
			contentType: false,
			data: formData,
			type: 'POST',
			dataType: 'json',
			success: function(result) {
				//console.log(result);
				showUploadedImages(result);
			},
			error: function(jqXHR, txtStatus, errorThrown) {
				console.log(txtStatus);
			}
		});
	});
	function showUploadedImages(arr) {
		console.log(arr);
		var divArea = $('#uploadResult');
		for (var i=0; i < arr.length; i++) {
			divArea.append("<img src='/display?fileName=" + arr[i].imageURL + "'>");
		}
	}
</script>
</html>